.container {
  height: 100%;
  width: 100%;
  flex-direction: column;
  flex-flow: wrap;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5%;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: left;
  align-content: center;

  background-color: #333333;
  font-weight: 600;
  color: white;
}

.main-window {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  height: 95%;
  background-color: #303030;
  color: white;
}

.header-btn {
  padding-left: 1%;
  padding-right: 1%;
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.header-btn:hover {
  background-color: #24292e;
}

.selected-header {
  background-color: #000000;
}
.selected-header:hover {
  background-color: #000000;
}
