<div class="toolbar" role="banner">
  <span (click)="selectItem('summary')" [ngClass]="getNgClass('summary')">Summary</span>
  <span (click)="selectItem('periodic flows')" [ngClass]="getNgClass('periodic flows')">
    Periodic flows
  </span>
  <span (click)="selectItem('flows')" [ngClass]="getNgClass('flows')">Flows</span>
  <span (click)="selectItem('members')" [ngClass]="getNgClass('members')">Members</span>
  <span (click)="selectItem('settings')" [ngClass]="getNgClass('settings')">Settings</span>
</div>
<app-summary *ngIf="selectedItem == 'summary'" [group]="group" [token]="token"></app-summary>
<app-periodic-flows *ngIf="selectedItem == 'periodic flows'" [group]="group" [token]="token"></app-periodic-flows>
<app-flows *ngIf="selectedItem == 'flows'" [group]="group" [token]="token"></app-flows>
<app-members *ngIf="selectedItem == 'members'" [group]="group" [token]="token"></app-members>
<app-settings *ngIf="selectedItem == 'settings'"
              [group]="group"
              [groupIndex]="groupIndex"
              [token]="token"
              (remove)="back.emit()"
              (back)="refresh.emit()">

</app-settings>
