<div class="toolbar" role="banner">
  <span (click)="selectItem('summary')" [ngClass]="getNgClass('summary')">Summary</span>
  <span (click)="selectItem('periodic flows')" [ngClass]="getNgClass('periodic flows')">
    Periodic flows
  </span>
  <span (click)="selectItem('flows')" [ngClass]="getNgClass('flows')">Flows</span>
  <span (click)="selectItem('members')" [ngClass]="getNgClass('members')">Members</span>
  <span (click)="selectItem('settings')" [ngClass]="getNgClass('settings')">Settings</span>
</div>
<app-summary *ngIf="selectedItem == 'summary'"></app-summary>
